@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Este projeto faz parte de um teste de desenvolvimento aplicado, utilizando as tecnologias: </p>
    <ul class="tecnologies">
        <li>C# Language</li>
        <li>ASP.Net Core Framework</li>
        <li>MVC Design Pattern</li>
        <li>MySQL Database</li>
    </ul>
</div>
